In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:


data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
data={'a':0.,'b':1.,'c':2.}
s=pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
data={'a':0.,'b':1.,'c':2.}
s=pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])

1

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
print(s[:3])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])

1

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [ ]:
data=[1,2,3,4,5]
s=pd.Series(data,index=['a','b','c','d','e'],dtype=float)
print(s)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [ ]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
data=[1,2,3,4]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4

In [ ]:
data=[1,2,3,4]
df=pd.DataFrame(data,index=['a','b','c','d'])
print(df)

   0
a  1
b  2
c  3
d  4

In [ ]:
data=[['abhi',20],['maha',30],['sana',25]]
df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'])
print(df)

   name  age
a  abhi   20
b  maha   30
c  sana   25

In [ ]:
data=[['abhi',20],['maha',30],['sana',25]]
df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'],dtype=float)
print(df)

   name   age
a  abhi  20.0
b  maha  30.0
c  sana  25.0

<ipython-input-23-e4d858fa77e3>:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'],dtype=float)

In [ ]:
data={'Names':['abhi','maha','sana'],'age':[20,30,25]}
df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'],dtype=float)
print(df)

   name   age
a   NaN  20.0
b   NaN  30.0
c   NaN  25.0

In [ ]:
data={'abhi',20},{'maha',30},{'sana',25}
df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'],dtype=float)
print(df)

   name   age
a    20  abhi
b  maha    30
c  sana    25

<ipython-input-4-6cd4c207d60a>:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,index=['a','b','c'],columns=['name','age'],dtype=float)

In [ ]:
data=[{'abhi':20,'maha':30},{'abhi':20,'maha':30,'sana':25}]
df=pd.DataFrame(data)
print(df)

   abhi  maha  sana
0    20    30   NaN
1    20    30  25.0

In [ ]:
data=[{'abhi':20,'maha':30},{'abhi':20,'maha':30,'sana':25}]
df=pd.DataFrame(data,index=['first','second'])
print(df)

        abhi  maha  sana
first     20    30   NaN
second    20    30  25.0

In [ ]:
data=[{'a':1,'b':2,'c':3},{'a':1,'b':2,'c':3,'d':4}]
df=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
df

        a  b
first   1  2
second  1  2

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
print('adding a new colum by passing as series:')
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print('adding a new colum using the existing colums in dataframe:')
df['four']=df['one']+df['three']
print(df)

adding a new colum by passing as series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
adding a new colum using the existing colums in dataframe:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
print('deleting the first column using delfunction:')
del(df['one'])
print(df)

deleting the first column using delfunction:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN

In [ ]:
print("Deleting the first column using POP function: ")
df.pop('two')
print(df)

Deleting the first column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [ ]:
print(df.loc['b'])

three    20.0
four     22.0
Name: b, dtype: float64

In [ ]:
print(df.iloc[2])

three    30.0
four     33.0
Name: c, dtype: float64

In [ ]:
print(df[2:4])

   three  four
c   30.0  33.0
d    NaN   NaN

In [ ]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df=df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

<ipython-input-19-d31ad2479008>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2)

In [ ]:
df=df.drop(0)
print(df)

   a  b
1  3  4
1  7  8

In [ ]:
import pandas as pd
df=pd.read_csv("/content/mtcars.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [ ]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [ ]:
df.shape

(32, 11)

In [ ]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [ ]:
df.tail()

     mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
27  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2